* {
    box-sizing: border-box;
  }
  body {
    background-color: white;
  }
  
  .container {
    max-width: 1200px;
    padding-inline: 15px;
    margin: auto;
  }
  
  table {
    background-color: lightgray;
    padding: 16px;
    margin: 16px;
    border-radius: 12px;
    border-collapse: collapse;
  
    tbody {
      padding: 16px;
      display: block;
    }
  
    img {
      max-width: 250px;
      border-radius: 16px;
      margin-bottom: 22px;
      box-shadow: 0 0 16px grey;
    }
  
    tr td.bold {
      font-weight: 900;
    }
  
    tr {
    }
  
    td {
      border-bottom: 1px solid black;
      padding: 5px 8px;
      &:first-child {
        min-width: 220px;
      }
    }
  }
  
  .main ul {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
  }
  
  a {
    font-style: italic;
    text-decoration: none;
    color: #4a89dd;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
