{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <b>Nombre d'espèces: </b>{{ especesListe|length }}
    </div>
    <div>
        {% for espece in especesListe %}
            <ul>
                <li><a href="{{path('especes_show', {'id': espece.id})}}">
                    {{espece.getEspece()}}
                </a></li>
            </ul>
        {% endfor %}
    </div>

    
{% endblock %}