{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        <b>Nombre d'espèces: </b>{{ especesListe|length }}
    </div>
    <div class="main">
        <ul>
            {% for espece in especesListe %}
                <li><a href="{{path('especes_show', {'id': espece.id})}}">
                    {{espece.getEspece()}}
                </a></li>
            {% endfor %}
        </ul>
    </div>

    
{% endblock %}
